<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.nari.mapper.BiddingMapper">
  <resultMap id="BaseResultMap" type="org.nari.model.Bidding">
    <id column="uuid" jdbcType="VARCHAR" property="uuid" />
    <result column="bidding_id" jdbcType="VARCHAR" property="biddingId" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="material_id" jdbcType="VARCHAR" property="materialId" />
    <result column="material_name" jdbcType="VARCHAR" property="materialName" />
    <result column="material_standard" jdbcType="VARCHAR" property="materialStandard" />
    <result column="weight" jdbcType="DOUBLE" property="weight" />
    <result column="unit" jdbcType="VARCHAR" property="unit" />
    <result column="num" jdbcType="INTEGER" property="num" />
    <result column="delivery_date" jdbcType="TIMESTAMP" property="deliveryDate" />
    <result column="adjuncts" jdbcType="VARCHAR" property="adjuncts" />
    <result column="adjuncts_name" jdbcType="VARCHAR" property="adjunctsName" />
    <result column="material_requirement" jdbcType="VARCHAR" property="materialRequirement" />
    <result column="bidding_company" jdbcType="VARCHAR" property="biddingCompany" />
    <result column="turn_num" jdbcType="INTEGER" property="turnNum" />
    <result column="turn_time_minute" jdbcType="INTEGER" property="turnTimeMinute" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="visible" jdbcType="INTEGER" property="visible" />
  </resultMap>
  <sql id="Base_Column_List">
    uuid, bidding_id, start_time, material_id, material_name, material_standard, weight,
    unit, num, delivery_date, adjuncts, adjuncts_name, material_requirement, bidding_company,
    turn_num, turn_time_minute, status, visible
  </sql>

  <insert id="insertBidding" parameterType="org.nari.model.Bidding">
    insert into bidding
    values(
        #{uuid}, #{biddingId}, #{startTime},
        #{materialId}, #{materialName}, #{materialStandard},
        #{weight}, #{unit}, #{num}, #{deliveryDate},
        #{adjuncts}, #{adjunctsName}, #{materialRequirement}, #{biddingCompany},
        #{turnNum}, #{turnTimeMinute},
        #{status}, #{visible}
    )
  </insert>

  <select id="getBiddingById" parameterType="java.lang.String" resultMap="BaseResultMap">
    select *from bidding
        where uuid = #{uuid}
  </select>
  <select id="getBiddingByBid" parameterType="java.lang.String" resultMap="BaseResultMap">
    select *from bidding
        where bidding_id = #{biddingId}
  </select>
  <select id="getAll" resultMap="BaseResultMap" >
    select *from bidding and visible = 1
  </select>
  <select id="getBiddingByStatus" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select *from bidding
        where status = #{status} and visible = 1
  </select>

  <select id="getBiddingsExcludeStatus" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select *from bidding
        where status != #{status} and visible = 1
  </select>

  <select id="searchBiddings" resultMap="BaseResultMap">
    select *from bidding
    <where>
      <if test="biddingId!=null and biddingId!=''">bidding_id = #{biddingId}</if>
      <if test="date!=null">And to_days(start_time) = to_days(#{date})</if>
      <if test="materialCode!=null and materialCode!=''">And material_code = #{materialCode}</if>
      <if test="materialName!=null and materialName!=''">And material_name = #{materialName}</if>
    </where>
  </select>

  <update id="updateBiddingById" parameterType="org.nari.model.Bidding">
    update bidding
    <set>
      <if test="biddingId!=null and biddingId!=''">bidding_id = #{biddingId},</if>
      <if test="startTime!=null">start_time = #{startTime},</if>
      <if test="materialId!=null and materialId!=''">material_id = #{materialId},</if>
      <if test="materialName!=null and materialName!=''">material_name = #{materialName},</if>
      <if test="materialStandard!=null and materialStandard!=''">material_standard = #{materialStandard},</if>
      <if test="weight!=null">weight = #{weight},</if>
      <if test="unit!=null and unit!=''">unit = #{unit},</if>
      <if test="num!=null">num = #{num},</if>
      <if test="deliveryDate!=null">delivery_date = #{deliveryDate},</if>
      <if test="adjuncts!=null and adjuncts!=''">adjuncts = #{adjuncts},</if>
      <if test="adjunctsName!=null and adjunctsName!=''">adjuncts_name = #{adjunctsName},</if>
      <if test="turnNum!=null">turn_num = #{turnNum},</if>
      <if test="turnTimeMinute!=null">turn_time_minute = #{turnTimeMinute},</if>
      <if test="status!=null">status = #{status},</if>
      <if test="visible!=null">visible = #{visible}</if>
    </set>
    where uuid = #{uuid}
  </update>

  <update id="updateStatus" parameterType="org.nari.model.Bidding">
    update bidding
    set status = #{status} where uuid = #{uuid}
  </update>

  <update id="updateStatusBatch" parameterType="java.util.List">
    <foreach collection="list" item="item" index="index" open="" close="" separator=",">
      update bidding
      <set>
        status = #{item.status}
      </set>
      where uuid = #{item.uuid}
    </foreach>
  </update>

  <delete id="deleteById" parameterType="java.lang.String">
    delete from bidding
        where uuid = #{uuid}
  </delete>
</mapper>