<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.nari.mapper.BiddingMapper">
  <insert id="insertBidding" parameterType="org.nari.model.Bidding">
    insert into bidding
    values(
        #{uuid}, #{biddingId}, #{startTime},
        #{materialId}, #{materialName}, #{materialStandard},
        #{weight}, #{unit}, #{num}, #{deliveryDate},
        #{adjuncts}, #{adjunctsName}, #{materialRequirement}, #{biddingCompany},
        #{turnNum}, #{turnTimeMinute},
        #{status}, #{visible}
    )
  </insert>

  <select id="getBiddingById" parameterType="java.lang.String" resultType="org.nari.model.Bidding">
    select *from bidding
        where uuid = #{uuid}
  </select>
  <select id="getBiddingByBid" parameterType="java.lang.String" resultType="org.nari.model.Bidding">
    select *from bidding
        where bidding_id = #{biddingId}
  </select>
  <select id="getAll" resultType="org.nari.model.Bidding" >
    select *from bidding
  </select>
  <select id="getBiddingByStatus" parameterType="java.lang.Integer" resultType="org.nari.model.Bidding">
    select *from bidding
        where status = #{status}
  </select>

  <update id="updateBiddingById" parameterType="org.nari.model.Bidding">
    update bidding
    set bidding_id = #{biddingId},
      start_time = #{startTime},
      material_id = #{materialId},
      material_name = #{materialName},
      material_standard = #{materialStandard},
      weight = #{weight},
      unit = #{unit},
      num = #{num},
      delivery_date = #{deliveryDate},
      adjuncts = #{adjuncts},
      adjuncts_name = #{adjunctsName},
      material_requirement = #{materialRequirement},
      bidding_company = #{biddingCompany},
      turn_num = #{turnNum},
      turn_time_minute = #{turnTimeMinute},
      status = #{status},
      visible = #{visible}
    where uuid = #{uuid}
  </update>

  <delete id="deleteById" parameterType="java.lang.String">
    delete from bidding
        where uuid = #{uuid}
  </delete>
</mapper>