<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.nari.mapper.OfferMapper">
  <resultMap id="BaseResultMap" type="org.nari.model.Offer">
    <id column="offer_id" jdbcType="VARCHAR" property="offerId" />
    <result column="bidding_id" jdbcType="VARCHAR" property="biddingId" />
    <result column="turn" jdbcType="INTEGER" property="turn" />
    <result column="company_id" jdbcType="VARCHAR" property="companyId" />
    <result column="price" jdbcType="DOUBLE" property="price" />
    <result column="day_num" jdbcType="INTEGER" property="dayNum" />
    <result column="delivery_date" jdbcType="TIMESTAMP" property="deliveryDate" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="price_ranking" jdbcType="INTEGER" property="priceRanking" />
    <result column="quality_ranking" jdbcType="INTEGER" property="qualityRanking" />
    <result column="service_ranking" jdbcType="INTEGER" property="serviceRanking" />
    <result column="price_score" jdbcType="INTEGER" property="priceScore" />
    <result column="quality_score" jdbcType="INTEGER" property="qualityScore" />
    <result column="service_score" jdbcType="INTEGER" property="serviceScore" />
    <result column="total_score" jdbcType="INTEGER" property="totalScore" />
    <result column="winning_the_bid" jdbcType="INTEGER" property="winningTheBid" />
    <result column="is_evaluation" jdbcType="INTEGER" property="isEvaluation" />
    <result column="visible" jdbcType="INTEGER" property="visible" />
  </resultMap>
  <sql id="Base_Column_List">
    offer_id, bidding_id, turn, company_id, price, day_num, delivery_date, remark, price_ranking,
    quality_ranking, service_ranking, price_score, quality_score, service_score, total_score,
    winning_the_bid, is_evaluation, visible
  </sql>

  <insert id="insertOffer" parameterType="org.nari.model.Offer">
    insert into offer
    values (
        #{offerId},#{biddingId}, #{turn},#{companyId},
        #{price},#{dayNum},#{deliveryDate},#{remark},
        #{priceRanking},#{qualityRanking},#{serviceRanking},
        #{priceScore},#{qualityScore},#{serviceScore},#{totalScore},
        #{winningTheBid},#{isEvaluation},#{visible}
    )
  </insert>

  <select id="getOfferById" parameterType="java.lang.String" resultMap="BaseResultMap">
    select *from offer
        where offer_id = #{offerId}
  </select>
  <select id="getOffersByBiddingId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select *from offer
        where bidding_id = #{biddingId}
  </select>
  <select id="getOffersByUserId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select *from offer
        where company_id = #{companyId}
  </select>
  <select id="getAll" resultMap="BaseResultMap">
    select *from offer
  </select>

  <select id="getWinners" parameterType="java.lang.String" resultMap="BaseResultMap">
    select *from offer
    where bidding_id = #{biddingId} and is_evaluation = 1
  </select>

  <select id="getOffersByCompany" parameterType="java.lang.String" resultMap="BaseResultMap">
    select *from offer
    where company_id = #{companyId}
  </select>

  <update id="updateOfferById" parameterType="org.nari.model.Offer">
    update offer
    <set>
      <if test="biddingId!=null and biddingId!=''">bidding_id = #{biddingId},</if>
      <if test="turn!=null">turn = #{turn},</if>
      <if test="companyId!=null and company_id!=''">company_id = #{companyId},</if>
      <if test="price!=null">price = #{price},</if>
      <if test="dayNum!=null">day_num = #{dayNum},</if>
      <if test="deliveryDate!=null">delivery_date = #{deliveryDate},</if>
      <if test="remark!=null and remark!=''">remark = #{remark},</if>
      <if test="priceRanking!=null">price_ranking = #{priceRanking},</if>
      <if test="qualityRanking!=null">quality_ranking = #{qualityRanking},</if>
      <if test="serviceRanking!=null">service_ranking = #{serviceRanking},</if>
      <if test="priceScore!=null">price_score = #{priceScore},</if>
      <if test="qualityScore!=null">quality_score = #{qualityScore},</if>
      <if test="serviceScore!=null">service_score = #{serviceScore},</if>
      <if test="totalScore!=null">total_score = #{totalScore},</if>
      <if test="winningTheBid!=null">winning_the_bid = #{winningTheBid},</if>
      <if test="isEvaluation!=null">is_evaluation = #{isEvaluation},</if>
      <if test="visible!=null">visible = #{visible}</if>
    </set>
    where offer_id = #{offerId}
  </update>

  <update id="judgeOffersBatch" parameterType="java.util.List">
    update offer
    <foreach collection="list" item="item">
    <set>
      <if test="item.priceRanking!=null">price_ranking = #{item.priceRanking},</if>
      <if test="item.qualityRanking!=null">quality_ranking = #{item.qualityRanking},</if>
      <if test="item.serviceRanking!=null">service_ranking = #{item.serviceRanking},</if>
      <if test="item.priceScore!=null">price_score = #{item.priceScore},</if>
      <if test="item.qualityScore!=null">quality_score = #{item.qualityScore},</if>
      <if test="item.serviceScore!=null">service_score = #{item.serviceScore},</if>
      <if test="item.totalScore!=null">total_score = #{item.totalScore},</if>
      <if test="item.winningTheBid!=null">winning_the_bid = #{item.winningTheBid},</if>
      <if test="item.isEvaluation!=null">is_evaluation = #{item.isEvaluation},</if>
      <if test="item.visible!=null">visible = #{item.visible}</if>
    </set>
    where where offer_id = #{item.offerId}
    </foreach>
  </update>

  <delete id="deleteOfferById" parameterType="java.lang.String">
    delete from offer where
        offer_id = #{offerId}
  </delete>
</mapper>